@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,900');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: .3em;
}

input {
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-scrollbar-thumb {
    background-color: #1CC9A8;
    outline: 1px solid #1CC9A8;
}

a {
    text-decoration: none!important;
    color: #1CC9A8;
}

a:hover,
a:focus,
a:active {
    color: #1CC9A8;
}

.btn.focus,
.btn:focus,
.btn:hover {
    background: #1CC9A8;
    color: #fff;
}

.btn:focus,
input:focus,
a:focus {
    outline: none;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #3dc095;
    background: -moz-linear-gradient(left, #3dc095 10%, rgba(61, 192, 149, 0) 42%);
    background: -webkit-linear-gradient(left, #3dc095 10%, rgba(61, 192, 149, 0) 42%);
    background: -o-linear-gradient(left, #3dc095 10%, rgba(61, 192, 149, 0) 42%);
    background: -ms-linear-gradient(left, #3dc095 10%, rgba(61, 192, 149, 0) 42%);
    background: linear-gradient(to right, #3dc095 10%, rgba(61, 192, 149, 0) 42%);
    position: fixed;
    top: 15%;
    left: 50%;
    margin: 15% 0px 0px -50px;
    overflow: hidden;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #3dc095;
    border-radius: 100% 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*instatise helper classes*/

.padding_null {
    padding: 0;
}

.margin_null {
    margin: 0;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.pl10 {
    padding-left: 10px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pb40 {
    padding-bottom: 40px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.ml10 {
    margin-left: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.text-white {
    color: #fff!important;
}

.fix_position {
    position: fixed;
}

div.bottom_dotted::after {
    content: '';
    height: 2px;
    border-color: #fff;
    width: 90%;
    border-bottom: 1px solid #BDC3C7;
    border-style: dashed;
    padding-top: 30px;
    display: block;
}

.button_success,
.button_clear {
    display: block;
    float: none;
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
}

.button_success {
    border: 1px solid #1CC9A8;
    color: #1CC9A8;
}

.button_clear {
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.button_clear:hover,
.button_clear:focus,
.button_clear:active {
    background-color: #fff;
    color: #9B9B9B;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    border: 1px solid #979797 !important;
    color: #979797 !important;
}

.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover {
    background: transparent !important;
}

.feedback_msg {
    display: block;
    font-size: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #FA023C;
}


/*common styles for all components */

.sidebar-nav ul li {
    position: relative;
    list-style-type: none;
    padding: 0;
    padding-left: 60px;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    color: #FFFFFF;
}

.sidebar-nav ul li.active,
.sidebar-nav a.active {
    background-color: #0FB696;
}

.sidebar-nav ul li:hover,
.sidebar-nav a:hover {
    background: #00b697;
    color: #fff;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
    height: 100%;
    margin-bottom: 50px;
}

.table_title {
    font-size: 18px;
    line-height: 22px;
    color: #4A4A4A;
}

.title {
    color: #4a4a4a;
    font-size: 24px;
    line-height: 28px;
}

.sub_title {
    font-size: 16px;
    line-height: 30px;
    color: #4A4A4A;
}

.instatise_edit_btn {
    border: 1px solid #00C9A9;
    color: #00C9A9;
    cursor: pointer;
}

.instatise_edit_btn:hover {
    border: 1px solid #00C9A9;
    background: #00C9A9;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.instatise_disable_btn {
    color: #a0a0a0;
    cursor: pointer;
}

.instatise_disable_btn:hover {
    color: #a0a0a0;
    background: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.instatise_detail_heading {
    color: #C1C6CA;
    font-size: 12px;
    margin-bottom: 10px;
}

.instatise_detail_sub_heading {
    color: #595959;
    font-size: 16px;
    font-weight: 400;
}

.social_sharing a {
    color: inherit;
    padding: 8px;
}

.ion-social-facebook,
.ion-android-arrow-back,
.ion-social-twitter,
.ion-social-youtube,
.ion-social-instagram {
    line-height: 0;
    padding-right: 15px;
}

.ion-social-facebook {
    font-size: 20px;
}

.ion-social-twitter,
.ion-social-youtube,
.ion-social-instagram {
    font-size: 20px;
}

.ion-android-arrow-back {
    font-size: 2em;
    cursor: pointer;
}

.ion-social-facebook {
    color: #3b5998;
}

.ion-social-twitter {
    color: #55acee;
}

.ion-social-youtube {
    color: #bb0000;
}

.ion-ios-arrow-thin-up:before,
.ion-ios-arrow-thin-down:before {
    font-weight: 900 !important;
}

.block div {
    padding-left: 0;
}

.block_title {
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    font-weight: 300;
}

.block_content {
    font-size: 36px;
    line-height: 50px;
    color: #4A4A4A;
}

.block_list li,
.block_list td {
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    list-style: none;
}

.block_heading tr {
    background-color: #F7F7F7;
    border-radius: 4px;
}

.block_heading th {
    color: #4A4A4A;
}

.list_item_sub {
    font-size: 14px;
    line-height: 17px;
    color: #BDC3C7;
}

.personal_block {}

.personal_block_title {
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    background-color: #F7F7F7;
    border-radius: 4px;
    padding: 19px 0 16px 10px;
    position: relative;
    right: 10px;
}

.personal_block_label {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #BDC3C7;
    white-space: nowrap;
}

.personal_block_desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #4A4A4A;
    white-space: nowrap;
}

.personal_block_desc1 {
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
}

input[type='file'] {
    visibility: hidden;
}

label.input_file {
    display: block;
    width: 100%;
    height: auto;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
    padding: 6px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #F0F2F3;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* social icons visibility */

.show-facebook {
    /*display: inline;*/
}

.hide-facebook {
    display: none;
}

.show-twitter {
    /*display: inline;*/
}

.hide-twitter {
    display: none;
}

.show-youtube {
    /*display: inline;*/
}

.hide-youtube {
    display: none;
}

.show-instagram {
    /*display: inline;*/
}

.hide-instagram {
    display: none;
}


/*overriding bootstrap table design as per instatise designs */

thead,
th,
tbody {
    border: none!important;
    border-color: #F7F7F7;
    border-bottom-color: #F7F7F7;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    border-color: #fff;
    border-bottom: 1px solid #BDC3C7;
    border-style: inherit;
    word-break: break-word;
}

.table>tbody>tr>td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.table>thead>tr>th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-danger {
    color: #D0021B!important;
}

.text-success {
    color: #2ECC71!important;
}

.table>tbody>tr {
    border-bottom: 1px dashed #dee1e3;
    font-size: 16px;
    font-weight: inherit;
    color: #646464;
    cursor: pointer;
}

.text-bold {
    font-weight: 500;
}


/*over riding angular material */

.md-input-placeholder {
    line-height: 14px;
    color: #BDC3C7;
    font-weight: 300;
    letter-spacing: 1px;
}

.md-input-underline {
    width: 0px!important;
}

.md-input-element {
    font-size: 18px!important;
    line-height: 22px;
    color: #4A4A4A!important;
    -webkit-text-security: star;
}

md-input-container {
    width: 100% !important;
    line-height: 30px!important;
}

.md-input-infix,
.md-input-underline {
    color: rgba(0, 0, 0, 0.25);
}

.md-sidenav-backdrop.md-sidenav-shown {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    top: 0;
}

md-sidenav,
md-toolbar {
    display: none!important;
}

md-sidenav {
    bottom: auto!important;
    top: 55px!important;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s linear;
}

md-sidenav.md-sidenav-opening {
    opacity: 1;
    visibility: visible;
}

md-sidenav.md-sidenav-opened,
md-sidenav.md-sidenav-opening {
    box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.5)!important;
    -moz-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.5)!important;
    -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.5)!important;
}

md-sidenav,
md-sidenav.md-sidenav-closing {
    transform: translate3d(0, 0, 0)!important;
    visibility: hidden;
    opacity: 0;
}

md-sidenav.md-sidenav-closed {
    visibility: hidden;
    opacity: 0;
}

md-nav-list a {
    padding: 5px 0;
}

md-nav-list a:focus,
md-nav-list a:active,
md-nav-list a:visited {
    color: #fff;
    background: #00b697;
}

md-toolbar a i {
    color: #fff;
    line-height: 0;
    font-size: 2em;
}

md-nav-list {
    background-color: rgba(28, 201, 168, 0.9)!important;
}

.nav,
.sidebar,
md-toolbar {
    background-color: #1CC9A8;
}

md-toolbar md-toolbar-row {
    justify-content: space-between;
}


/* Pagination */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #1CC9A8;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #1CC9A8;
    border-radius: 4px;
    margin: 10px 5px;
}

ul.pagination li a.active {
    pointer-events: none;
    border: 1px solid #fff;
    background-color: #fff;
    color: #4A4A4A;
    border-radius: 0;
}

ul.pagination li a:hover:not(.active) {
    background-color: #1CC9A8;
    color: #fff;
}

ul.pagination button i {
    margin: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

ul.pagination .nav-prev,
ul.pagination .nav-next {
    background-color: #fff;
    box-shadow: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #1CC9A8;
    outline: none;
    margin: 10px 12px;
}

.prev-next {
    float: right;
}

.ellipsis {
    color: black !important;
    border-color: white !important;
    padding: 0 !important;
    padding-top: 10px !important;
}

.ellipsis:hover {
    color: black !important;
    background-color: white !important;
    color: #1CC9A8 !important;
    cursor: default;
}

.prev-next button[disabled] {
    color: gray !important;
    cursor: not-allowed;
}


/*      Responsive Layout   */

@media all and (orientation:landscape) {
    md-sidenav {
        overflow-y: scroll;
        top: 48px!important;
        height: 200px!important;
    }
    .loader {
        top: 0!important;
    }
}

@media (max-width: 1092px) {
    .mob_pt30 {
        padding-top: 30px;
    }
    .mob_pl40 {
        padding-left: 40px;
    }
    .mob_pl10 {
        padding-left: 10px;
    }
    .mob_p0 {
        padding: 0;
    }
}

@media (min-width: 770px) {
    #page-wrapper {
        position: relative;
        margin: 0 0 0 300px;
        padding: 35px 65px 150px;
    }
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 300px;
        height: 100%;
        float: left;
        padding-bottom: 1000%;
        margin-bottom: -1000%;
    }
    .sidebar-nav {
        padding-top: 75px;
    }
    .sidebar-nav a {
        padding-left: 55px;
    }
}


/*select */

ng2-select {
    display: inline-block !important;
}

.pay-search {
    width: 60% !important;
    margin-left: 73.6%;
}

ng2-select .caret {
    top: 1px;
    background: none;
    position: relative;
    border-top: 8px dashed;
    border-top: 4px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.pay-search .md-input-placeholder {
    top: 7px;
    font-size: 80%;
    font-style: italic;
    margin-left: 3px;
}

.pay-search .md-input-placeholder.md-focused::after,
.pay-search .md-input-placeholder.md-float:not(.md-empty)::after {
    display: none;
}

.pay-search .md-input-placeholder.md-input-placeholder.md-focused,
.pay-search .md-input-placeholder.md-float:not(.md-empty) {
    top: 0px;
    font-size: 15px;
    font-size: 15px;
    font-style: italic;
    margin-left: 3px;
}

.pay-search .md-input-wrapper {
    border-bottom: 1px solid #F4F4F4;
}

.payments .material-icons {
    position: relative;
    top: 6px;
    left: 7px;
}

.payments {
    text-align: right;
    color: #1CC9A7;
    letter-spacing: 1px;
}

.pay-search .md-input-placeholder::after {
    font-family: "Material Icons";
    content: '\e8b6';
    font-style: normal;
    font-size: 100%;
    font-weight: 100;
    font-size: 21px;
    float: right;
}

.pay-search .md-input-element {
    font-size: 80%;
    top: -7px;
    position: relative;
}

ng2-menu-item.selected .ng2-menu-item {
    color: #1CC9A7 !important;
    background: #f9f9f9;
}

ng2-select .ng2-dropdown-button {
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 6px;
    border: none;
    padding: 0px 5px;
    line-height: 18px;
    height: 25px;
    font-size: 13px !important;
    color: #1CC9A7 !important;
    border: #1CC9A7 1px solid;
    border-radius: 5px;
}

.ng2-dropdown-button:active {
    color: #222;
    border: #1CC9A7 1px solid !important;
}

.title.heads {
    padding-top: 38px;
}

.bar-search {
    padding-bottom: 85px;
}

textarea {
    border: 1px solid white !important;
}

textarea:focus {
    border: solid 1px #1CC9A8 !important;
}

@media (max-width: 769px) {
    .log-form[_ngcontent-lrg-48] .site-detail[_ngcontent-lrg-48] h2[_ngcontent-lrg-48] {
        font-size: 19px;
    }
    .simple-notification-wrapper.right {
        right: 0 !important;
        left: 0 !important;
        width: auto !important;
        margin: 0 8% !important;
    }
    .simple-notification svg {
        position: fixed !important;
        height: auto !important;
        top: -5px !important;
        top: 22% !important;
        width: 24px !important;
        padding: 0px !important;
        right: 5% !important;
    }
    .simple-notification .sn-content {
        padding: 7px 50px 0 0 !important;
        font-size: 14px !important;
    }
    .simple-notification .sn-title {
        display: none;
    }
    .simple-notification .success {
        top: -13px !important;
        padding: 5px 20px !important;
    }
    .pay-search {
        width: 60% !important;
        margin-left: 0;
    }
    md-sidenav,
    md-toolbar {
        display: block!important;
    }
    .navbar-default {
        display: none;
    }
    .md-sidenav-content {
        overflow-x: hidden!important;
    }
    .loader {
        font-size: 8px;
        width: 10em;
        height: 10em;
        top: 20%;
        left: 50%;
        margin: 20% 0px 0px -50px;
    }
    .table>tbody>tr>td:first-child,
    .table>thead>tr>th:first-child {
        width: 10%!important;
    }
    .button_success,
    .button_clear {
        width: 100%;
    }
    .block div {
        padding-bottom: 10px;
    }
    .block_list li,
    .block_list td {
        font-size: 13px;
        line-height: 30px;
    }
    .ion-social-twitter,
    .ion-social-youtube,
    .ion-social-instagram {
        font-size: 14px;
    }
    .ion-social-facebook {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .title {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .prev-next {
        width: 100%;
        float: left;
    }
    .prev-next button {
        font-size: 12px !important;
        margin-left: 0px !important;
    }
    .personal_block_desc1 {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    ul.pagination li a {
        font-size: 12px;
    }
    .prev-next {
        float: left;
    }
    .prev-next button {
        font-size: 12px !important;
        margin-left: 0px !important;
    }
    .personal_block_desc1 {
        font-size: 11px;
    }
}
