<div [ngSwitch]='loader'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row" *ngIf="entities" [@myAnimation]="entities">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix mob_pad">
                        <a routerLink="/brands" class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0"><i class="ion-android-arrow-back"></i></a>
                        <div class="title pt20 col-md-12 col-sm-12 col-xs-11 pl0 mob_pl10">{{brand.brand_name}}</div>
                        <div class="sub_title">Brand Information</div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <form (ngSubmit)='updateBrand(brand)' #updateBrandForm='ngForm' novalidate>
                                <div class="clearfix mt20 col-md-7 col-sm-8 col-xs-12 padding_null">
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Basic Info.</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt30 pl0 pr0 mob_pad">
                                        <md-input-container>
                                            <input md-input md-hint placeholder="Brand Name" type="text" id="brand_name" required
                                            [(ngModel)]="brand.brand_name"
                                            name="brand_name"
                                            #brandname="ngModel">
                                            <span class="feedback_msg atop"
                                                  [style.visibility]="(brandname.touched && brandname.invalid && brandname.value == null) ||
                                                                      (brandname.touched && brandname.pristine && brandname.value == null) ||
                                                                      (brandname.dirty && brandname.value === '') ? 'visible' : 'hidden'">
                                                  brand name is required !
                                            </span>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 pl0 pr0 mob_pad">
                                        <label for="join_date" class="personal_block_label">Join Date</label>
                                        <div id="join_date" class="personal_block_desc">{{brand.created | date:'d'}} / {{brand.created | date:'M'}} / {{brand.created | date:'y'}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                        <label for="total_campaigns" class="personal_block_label">Total Campaigns</label>
                                        <div id="total_campaigns" class="personal_block_desc">{{brand.total_campaigns}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                        <label for="open_campaigns" class="personal_block_label">Open Campaigns</label>
                                        <div id="open_campaigns" class="personal_block_desc">{{brand.open_campaigns}}</div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title mt30">Channels Info.</div>
                                    <div class="clearfix mob_pad" *ngFor="let media of brand.social_data">
                                        <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                            <label for="total_campaigns" class="personal_block_label">Channel</label>
                                            <div id="total_campaigns" class="personal_block_desc">
                                              <i class="ion-social-{{media.type === 'instagramrepost' ? 'instagram' : media.type}}"></i>
                                                {{media.type | capitalize}}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                            <label for="open_campaigns" class="personal_block_label">Followers</label>
                                            <div id="open_campaigns" class="personal_block_desc">{{media.audience_count}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title mt30">Campaigns</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt20 bottom_dotted pl0 pr0 mob_pad">
                                        <div class="col-md-6 col-sm-6 col-xs-6 pl0 pr0">
                                            <label class="personal_block_label">Date</label>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 pl0 pr0">
                                            <label class="personal_block_label">Name of the Campaign</label>
                                        </div>
                                        <div class="clearfix" *ngFor="let campaign of campaigns">
                                            <div class="col-md-6 col-sm-6 col-xs-6 mt20 pl0 pr0">
                                                <div class="personal_block_desc1">{{campaign.start_date | date:'d'}}/{{campaign.start_date | date:'M'}}/{{campaign.start_date | date:'y'}}</div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 mt20 pl0 pr0">
                                                <div class="personal_block_desc1">{{campaign.name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mt20 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3 col-xs-12 padding_null">
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Brand Logo</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt20">
                                        <label for="fileupload" class="input_file" [ngStyle]="{'background-image': 'url(' + brand.profile_picture_url + ')'}"></label>
                                        <input type="file" id="fileupload" class="fileupload" (change)="updateAndUploadImageToCloud($event,brand)" accept="image/*;capture=camera">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt30">
                                    <button class="btn button_success background_transparent" role="button" type="submit" [disabled]="!updateBrandForm.form.valid">update</button>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt20">
                                    <a class="btn button_clear" (click)="disableOrEnablebrand(brand)" role="button">{{enableOrDisable}}</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
