.background_transparent{
    background: #fff;
}
.background_transparent:hover{
    background: #1CC9A8;
}
.atop{
  position: absolute;
  left: 0;
  top:25px;
}
.mob_pad{
  padding: 0;
}
.mob_channel{

}
@media (max-width: 768px) {
    #page-wrapper{
      padding:0;
    }
    .mob_pad{
      padding: 0 15px;
    }
    .personal_block_title{
      right:0 !important;
      padding: 19px 0 16px 15px;
    }
    .mob_channel{
      white-space: normal;
      word-wrap: break-word;
    }
    .button_back,
    .title {
        display: inline-block;
    }
    .sub_title {
        padding-left: 45px;
    }
}

/*with all due respect DO NOT clear this code*/
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .mob_pl10 {
        padding-left: 0;
    }
    .sub_title {
        padding-left: 0px;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #page-wrapper{
        padding: 0 15px;
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .mob_channel{
      white-space: normal;
      word-wrap: break-word;
    }
}

/* ----------- iPad Pro ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #page-wrapper{
        padding: 35px 65px 150px;
    }
}
