.add_admin {
    font-size: 16px;
    line-height: 19px;
    color: #1CC9A8;
    padding-top: 5px;
}

tr>td {
    font-weight: 300;
}

@media (max-width: 768px) {
    .row {
        margin-right: -14px;
        margin-left: -14px;
    }
    table {
        table-layout: fixed;
        width: 100%;
    }
    td,
    th {
        white-space: normal;
        word-wrap: break-word;
    }
}
