<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="clearfix mob_pad">
              <a routerLink="/users" class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0"><i class="ion-android-arrow-back"></i></a>
              <div class="title pt20 col-md-12 col-sm-12 col-xs-11 pl0 mob_pl10">Add Admin</div>
          </div>
            <div class="clearfix mt20 col-md-7 col-sm-12 col-xs-12 padding_null">
                <div class="personal_block personal_block_title">Personal Details</div>
                <!-- {{diagnostic}} -->
                <form class="pt30" (ngSubmit)='onSubmit(user)' #userForm='ngForm' novalidate>
                    <div class="col-md-6 col-sm-6 col-xs-12 padding_null mob_pad">
                        <md-input-container>
                            <input md-input md-hint placeholder="First Name" type="text" id="first_name" required
                                    [(ngModel)]="user.first_name"
                                    name="first_name"
                                    #firstname="ngModel">
                            <span class="feedback_msg atop"
                                  [style.visibility]="(firstname.touched && firstname.invalid && firstname.value == null) ||
                                                      (firstname.touched && firstname.pristine && firstname.value == null) ||
                                                      (firstname.dirty && firstname.value === '') ? 'visible' : 'hidden'">
                                  firstname is required !
                            </span>
                        </md-input-container>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 padding_null mob_pad">
                        <md-input-container>
                            <input md-input md-hint placeholder="Last Name" type="text" id="last_name" required
                                    [(ngModel)]="user.last_name"
                                    name="last_name"
                                    #lastname="ngModel">
                            <span class="feedback_msg atop"
                                  [style.visibility]="(lastname.touched && lastname.invalid && lastname.value == null) ||
                                                      (lastname.touched && lastname.pristine && lastname.value == null) ||
                                                      (lastname.dirty && lastname.value === '') ? 'visible' : 'hidden'">
                                  lastname is required !
                            </span>
                        </md-input-container>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding_null mob_pad">
                        <md-input-container>
                            <input md-input md-hint placeholder="Email" type="email" id="email" required
                                    [(ngModel)]="user.email"
                                    name="email"
                                    [pattern]='emailParadigm'
                                    #email="ngModel">
                              <span class="feedback_msg atop"
                                    [style.visibility]="(email.touched && email.invalid && email.value == null) ||
                                                        (email.touched && email.pristine && email.value == null) ||
                                                        (email.dirty && email.value === '') ? 'visible' : 'hidden'">
                                    email is required !
                              </span>
                              <span class="feedback_msg atop"
                                    [style.visibility]="email.touched && email.dirty && email.invalid && email.value ? 'visible' : 'hidden'">
                                    please type valid email !
                              </span>
                        </md-input-container>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding_null mob_pad">
                        <md-input-container>
                            <input md-input placeholder="Password" type="password" id="password" required
                                    [(ngModel)]="user.password"
                                    name="password"
                                    #password="ngModel">
                            <span class="feedback_msg atop"
                                  [style.visibility]="(password.touched && password.invalid && password.value == null) ||
                                                      (password.touched && password.pristine && password.value == null) ||
                                                      (password.dirty && password.value === '') ? 'visible' : 'hidden'">
                                  password is required !
                            </span>
                        </md-input-container>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding_null mob_pad">
                        <md-input-container>
                            <input md-input placeholder="Confirm Password" type="password" id="confirm_password" required
                                    [(ngModel)]="user.confirm_password"
                                    name="confirm_password"
                                    #confirmpassword="ngModel">
                            <span class="feedback_msg atop"
                                  [style.visibility]="(confirmpassword.touched && confirmpassword.invalid && confirmpassword.value == null) ||
                                                      (confirmpassword.touched && confirmpassword.pristine && confirmpassword.value == null) ||
                                                      (confirmpassword.dirty && confirmpassword.value === '') ? 'visible' : 'hidden'">
                                  confirm password is required !
                            </span>
                            <span class="feedback_msg atop"
                                  [style.visibility]="confirmpassword.value !== password.value && confirmpassword.valid && password.value != null ? 'visible' : 'hidden'">
                                  passwords should match !
                            </span>
                            <span class="feedback_msg atop"
                                  [style.visibility]="password.value == null && confirmpassword.valid ? 'visible' : 'hidden'">
                                  please type password first !
                            </span>
                        </md-input-container>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 mt30">
                        <button class="btn button_success background_transparent" type="submit" [disabled]="!userForm.form.valid">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
