<div [ngSwitch]='loader'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row" *ngIf="entities" [@myAnimation]="entities">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix">
                        <a routerLink="/payments" class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0"><i class="ion-android-arrow-back"></i></a>
                        <div class="title pt20 mob_pl10 pl0 col-md-12 col-sm-12 col-xs-11">Configure Paypal</div>
                        <div class="sub_title">Paypal Details</div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <div class="clearfix mt20 col-md-7 col-sm-10 col-xs-12 padding_null">
                                <form  class="pt30" (ngSubmit)='configurePaypal(paypal_email)' #paypalForm='ngForm' novalidate>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container>
                                            <input md-input md-hint placeholder="Enter Email" type="email" id="email" required
                                                    [(ngModel)]="paypal_email"
                                                    name="email"
                                                    [pattern]='emailParadigm'
                                                    #email="ngModel">
                                            <!-- <div [hidden]='email.valid || email.pristine' class="text-danger feedback_msg">Email is required</div> -->
                                            <div *ngIf='(email.touched && email.invalid && email.value == null) ||
                                                        (email.touched && email.pristine && email.value == null) ||
                                                        (email.dirty && email.value === "")' class="text-danger feedback_msg">Email is required</div>
                                            <div *ngIf='(email.touched && email.dirty && email.invalid && email.value)' class="text-danger feedback_msg">Please type valid email</div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt30">
                                        <button class="btn button_success background_transparent" role="button" type="submit" [disabled]="!paypalForm.form.valid">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
