@import '../users/user-form.component.css';
.cur_state{
    padding: 0 60px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
}
.pay_btn{
    border: 1px solid #1cc9a7;
    color: #1cc9a7;
}
.pay_btn:hover{
    border: 1px solid #1cc9a7;
    color: #fff;
}
@media (max-width:768px) {
  .cur_state{
      padding: 0 50px;
  }
}
