<div>
    <!--<div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>-->
    <div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-9 payments">
                        <a routerLink='/configure-paypal'>Configure Paypal <i class="material-icons">payment</i></a>

                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="bar-search">
                    <div class="title heads pl0 pt40 col-md-4 col-sm-4 col-xs-12 padding_null" >
                    <span class="heading1">Payments</span>
                    <span >
                    <ng2-select [placeholder]="'All'"
                                [options]="paymentsType"
                                [displayBy]="'name'"
                                [(ngModel)]="paymentTypeValue"  (onChange)="selected()">
                    </ng2-select>
                    </span>
                    </div>
                    <div class="search pt20 col-md-6 col-sm-6 col-xs-12 padding_null">
                        <div class="col-md-12 col-sm-12 col-xs-12 padding_null">
                            <md-input-container class="pay-search">
                                <input md-input md-hint placeholder="Search for Campaign ... " type="text" id="search"   #search
                                        (keyup.enter)="onSearch(search.value)"
                                        (click)='search.select()'>
                            </md-input-container>
                        </div>
                    </div>

                    </div>
                    <div>
                        <!--<div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'notFound'">
                            <h3>No Results</h3>
                        </div>-->
                        <div>
                            <div class="clearfix pt20">
                                <table class="table">
                                    <thead class="block_heading">
                                        <tr>
                                            <th class="block_title col-sm-1 col-xs-2"  (click)="sort('asccrt')">No.</th>
                                            <th class="block_title col-sm-2 col-xs-4" (click)="sort('asccname')">Campaign Name</th>
                                            <th class="block_title col-sm-2 col-xs-4" (click)="sort('ascbname')">Brand</th>
                                            <th class="block_title col-sm-2 hidden-xs" (click)="sort('asciname')">Influencers</th>
                                            <th class="block_title col-sm-1 hidden-xs" >Budget</th>
                                            <th class="block_title col-sm-1 hidden-xs">paid</th>
                                            <th class="block_title col-sm-3 hidden-xs">Transaction ID</th>
                                        </tr>
                                    </thead>
                                    <tbody class="block_list">
                                        <tr class="" *ngFor="let pays of payments;let i = index"  routerLink='/payments/{{pays.campaign_details.campaign_id}}'>
                                            <td class="col-sm-1 col-xs-2">{{i+1}}</td>
                                            <td class="col-sm-2 col-xs-4">{{pays.campaign_details.name}}</td>
                                            <td class="col-sm-2 col-xs-4">{{pays.brand_details.brand_name}}</td>
                                            <td class="col-sm-2 hidden-xs">{{pays.influencer_details.first_name}} {{pays.influencer_details.last_name}}</td>
                                            <td class="col-sm-1 hidden-xs">{{pays.budget}}</td>
                                            <td class="col-sm-1 hidden-xs">{{pays.created_date| date:'dd MMM'}}</td>
                                            <td class="col-sm-3 hidden-xs">{{pays.transaction_id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix pt20">
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages>5">
                                    <li>
                                        <a class="" (click)="specificPage(1)">{{1}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(2)" *ngIf="pageNumber<=2">{{2}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(3)" *ngIf="pageNumber===2">{{3}}</a>
                                    </li>
                                    <li>
                                        <a class="" *ngIf="pageNumber>3">...</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(pageNumber-1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber-1}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(pageNumber)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(pageNumber+1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber+1}}</a>
                                    </li>
                                    <li>
                                        <a class="" *ngIf="pageNumber<(totalPages-2)">...</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(totalPages-2)" *ngIf="pageNumber===(totalPages-1)">{{totalPages-2}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(totalPages-1)" *ngIf="pageNumber>=(totalPages-1)">{{totalPages-1}}</a>
                                    </li>
                                    <li>
                                        <a class="" (click)="specificPage(totalPages)">{{totalPages}}</a>
                                    </li>
                                    <li class="pull-right">
                                        <button class="nav-prev" (click)="previousPage(pageNumber-1)" [disabled]="pageNumber===1" role="button"><i class="ion-ios-arrow-thin-left"></i> Previous</button>
                                        <button class="nav-next" (click)="nextPage(pageNumber+1)" [disabled]="pageNumber>=totalPages" role="button">Next <i class="ion-ios-arrow-thin-right"></i></button>
                                    </li>
                                </ul>
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages<=5">
                                    <li *ngFor="let page of pageNumbers">
                                        <a class="" (click)="specificPage(page)">{{page}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
