<div [ngSwitch]='loader'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row" *ngIf="entities" [@myAnimation]="entities">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix mob_pad">
                        <a routerLink="/payments" class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0"><i class="ion-android-arrow-back"></i></a>
                        <div class="title pt20 mob_pl10 pl0 col-md-12 col-sm-12 col-xs-11">{{payment.campaign_details.name}}
                            <!-- <a class="pull-right btn btn-default pay_btn" role="button">Initiate Payment</a> -->
                        </div>
                        <div class="sub_title">Transaction Details</div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <div class="clearfix mt20 col-md-7 col-sm-8 col-xs-12 padding_null">
                                <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Basic Info.</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                    <label for="total_campaigns" class="personal_block_label">Brand Name</label>
                                    <div id="total_campaigns" class="personal_block_desc">{{payment.brand_details.brand_name}}</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                    <label for="open_campaigns" class="personal_block_label">Influencer Name</label>
                                    <div id="open_campaigns" class="personal_block_desc">{{payment.influencer_details.first_name}}&nbsp;{{payment.influencer_details.last_name}}</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                    <label for="total_campaigns" class="personal_block_label">Bid Accepted</label>
                                    <div id="total_campaigns" class="personal_block_desc">{{payment.proposal_details.accepted_date === "" ? 'N/A' : payment.proposal_details.accepted_date }}</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                    <label for="open_campaigns" class="personal_block_label">Payment Made</label>
                                    <div id="open_campaigns" class="personal_block_desc">{{payment.payment_made_date === "" ? 'N/A' : payment.payment_made_date }}</div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title mt30">Campaigns Channels
                                    <div class="pull-right cur_state">{{ payment.budget | currency:'USD':true:'1.0-0'}}</div>
                                </div>
                                <div class="clearfix mob_pad" *ngFor="let channel of payment.campaign_details.channels">
                                    <div class="col-md-5 col-sm-5 col-xs-5 mt30 pl0 pr0">
                                        <label for="total_campaigns" class="personal_block_label">Channel</label>
                                        <div id="total_campaigns" class="personal_block_desc mob_channel">
                                          <i class="ion-social-{{channel.type === 'instagramrepost' ? 'instagram' : channel.type}}"></i>
                                          {{channel.type === 'instagramrepost' ? 'Instagram Repost' : channel.type  | capitalize}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 mt30 pl10">
                                        <label for="open_campaigns" class="personal_block_label">Budget</label>
                                        <div id="open_campaigns" class="personal_block_desc mob_channel">
                                          {{channel.min_amount | currency:'USD':true:'1.0-0'}} - {{channel.max_amount | currency:'USD':true:'1.0-0'}}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 mt30 pl10" style="text-align:center">
                                        <label for="open_campaigns" class="personal_block_label">Accepted At</label>
                                        <div id="open_campaigns" class="personal_block_desc">
                                          {{channel.hasOwnProperty('accepted_at') ? (channel.accepted_at | currency:'USD':true:'1.0-0') : 'N/A'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix mt20 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3 col-xs-12 padding_null">
                                <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Transaction Details</div>
                                <div *ngFor="let pay of payment.payment_details; let i = last">
                                  <div class="clearfix mob_pad" [ngStyle]="{ 'padding-bottom':'20px','border-bottom': i ? 'none' : '1px dashed #ddd'}" *ngIf="pay.type === 'brand-instatise'">
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="open_campaigns" class="personal_block_label">Payment Mod</label>
                                      <div id="open_campaigns" class="personal_block_desc">{{pay.mode | capitalize}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Transaction Id</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="color:rgba(28, 201, 168, 0.9);white-space:normal;word-wrap:break-word">
                                        {{ pay.transaction_id | uppercase }}
                                      </div>
                                    </div>
                                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 mt30 pl0 pr0">
                                      <label for="open_campaigns" class="personal_block_label">Brand Paypal ID</label>
                                      <div id="open_campaigns" class="personal_block_desc">{{pay.hasOwnProperty('email')&&pay.email !== null ? pay.email : 'N/A'}}</div>
                                    </div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Amount Charged</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="font-weight:500;font-size:24px">{{pay.amount === 'NA' ? 'N/A' : (pay.amount | currency:'USD':true:'1.0-0')}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Paid By.</label>
                                      <div id="total_campaigns" class="personal_block_desc">{{ pay.name === " " || "" ? 'N/A' : pay.name | capitalize}}</div>
                                    </div>
                                  </div>
                                  <div class="clearfix mob_pad" *ngIf="pay.type === 'instatise-creator'" [ngStyle]="{ 'padding-bottom':'20px','border-bottom': i ? 'none' : '1px dashed #ddd'}">
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="open_campaigns" class="personal_block_label">Payment Mod</label>
                                      <div id="open_campaigns" class="personal_block_desc">{{pay.mode | capitalize}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Transaction Id</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="color:rgba(28, 201, 168, 0.9);white-space:normal;word-wrap:break-word">
                                        {{ pay.transaction_id | uppercase }}
                                      </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt30 pl0 pr0">
                                      <label for="open_campaigns" class="personal_block_label">Influencer Paypal ID</label>
                                      <div id="open_campaigns" class="personal_block_desc">{{pay.hasOwnProperty('email')&&pay.email !== null ? pay.email : 'N/A'}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Amount Paid</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="font-weight:500;font-size:24px">{{pay.amount === 'NA' ? 'N/A' : (pay.amount | currency:'USD':true:'1.0-0')}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Paid To.</label>
                                      <div id="total_campaigns" class="personal_block_desc">{{ pay.name === " " || "" ? 'N/A' : pay.name | capitalize}}</div>
                                    </div>
                                  </div>
                                  <div class="clearfix mob_pad" *ngIf="pay.type === 'instatise-brand'" [ngStyle]="{ 'padding-bottom':'20px','border-bottom': i ? 'none' : '1px dashed #ddd'}">
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="open_campaigns" class="personal_block_label">Payment Mod</label>
                                      <div id="open_campaigns" class="personal_block_desc">{{pay.mode | capitalize}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Transaction Id</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="color:rgba(28, 201, 168, 0.9);white-space:normal;word-wrap:break-word">
                                        {{ pay.transaction_id | uppercase }}
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Amount Paid</label>
                                      <div id="total_campaigns" class="personal_block_desc" style="font-weight:500;font-size:24px">{{pay.amount === 'NA' ? 'N/A' : (pay.amount | currency:'USD':true:'1.0-0')}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0">
                                      <label for="total_campaigns" class="personal_block_label">Paid To.</label>
                                      <div id="total_campaigns" class="personal_block_desc">{{ pay.name === " " || "" ? 'N/A' : pay.name | capitalize}}</div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
