.heading1{
    margin-right: 10px;
}
.md-input-wrapper {
    margin: 16px 0;
    float: right;
    width: 300px;
}
@media (max-width: 667px){
.c{
    width: 15%!important;
}
.pay-search {
    width: 100% !important;
    margin-left: 0;
}
}
