<div [ngSwitch]='loader'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix mob_pad">
                        <a href="/influencers" class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0"><i class="ion-android-arrow-back"></i></a>
                        <div class="title pt20 col-md-12 col-sm-12 col-xs-11 pl0 mob_pl10">{{influencer.first_name}} {{influencer.last_name}}</div>
                        <div class="sub_title">Influencer Details</div>
                    </div>
                    <form>
                        <div class="clearfix mt20 col-md-7 col-sm-8 col-xs-12 padding_null">
                            <div class="col-md-11 col-sm-11 col-xs-12 personal_block_title">Basic Info.</div>
                            <div class="col-md-12 col-sm-11 col-xs-12  mt30 pl0 pr0 mob_pad">
                                <md-input-container>
                                    <input md-input md-hint placeholder="First Name" type="text" [(ngModel)]="influencer.first_name" [ngModelOptions]="{standalone: true}"
                                        required>
                                </md-input-container>
                                <md-input-container>
                                    <input md-input md-hint placeholder="Last Name" type="text" [(ngModel)]="influencer.last_name" [ngModelOptions]="{standalone: true}"
                                        required>
                                </md-input-container>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-12   pl0 pr0 mob_pad">
                                <label for="join_date" class="personal_block_label">Join Date</label>
                                <div id="join_date" class="personal_block_desc">{{influencer.created | date:'d'}} / {{influencer.created | date:'M'}} / {{influencer.created
                                    | date:'y'}}</div>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-12 mt30 pl0 pr0 mob_pad">
                                <md-input-container>
                                    <textarea md-input md-hint placeholder="Bio" type="text" [(ngModel)]="influencer.bio" [ngModelOptions]="{standalone: true}"></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 mt30  pl0 pr0 mob_pad">
                                <label for="total_campaigns" class="personal_block_label">Total Campaigns</label>
                                <div id="total_campaigns" class="personal_block_desc">{{campLength}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 mt30  pl0 pr0 ">
                                <label for="open_campaigns" class="personal_block_label">Open Campaigns</label>
                                <div id="open_campaigns" class="personal_block_desc">{{influencer.projects_open}}</div>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-12 personal_block_title mt30">Channels Info.</div>
                            <div class="col-md-11 col-sm-11 col-xs-12 no_bids" [hidden]="influencer.social_data.length">
                                No channels found
                            </div>
                            <div class="clearfix mob_pad" *ngFor="let media of influencer.social_data">
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30  pl0 pr0 ">
                                    <label for="total_campaigns" class="personal_block_label">Channel</label>
                                    <div id="total_campaigns" class="personal_block_desc"><i class="ion-social-{{media.type}}"></i> {{media.type | capitalize}}</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mt30  pl0 pr0">
                                    <label for="open_campaigns" class="personal_block_label">Followers</label>
                                    <div id="open_campaigns" class="personal_block_desc">{{media.audience_count}}</div>
                                </div>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-12 personal_block_title mt30">Campaigns Finished</div>
                            <div class="col-md-11 col-sm-11 col-xs-12 no_bids" [hidden]="campLength">
                                No Finished Campaigns found
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 mt20  pl0 pr0 mob_pad bottom_dotted" *ngIf="campLength > 0">
                                <div class="col-md-6 col-sm-6 col-xs-6  pl0 pr0">
                                    <label class="personal_block_label">Date</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6  pl0 pr0 ">
                                    <label class="personal_block_label">Name of the Campaign</label>
                                </div>
                                <div class="clearfix" *ngFor="let campaign of influencer.campaigns.data">
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt20  pl0 pr0 ">
                                        <div class="personal_block_desc1">{{campaign.start_date | date:'d'}}/{{campaign.start_date | date:'M'}}/{{campaign.start_date
                                            | date:'y'}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt20  pl0 pr0 ">
                                        <div class="personal_block_desc1">{{campaign.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mt20 col-md-5 col-sm-4 col-xs-12 padding_null">
                            <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Influencer Image</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 mt20">
                                <label for="fileupload" class="input_file" [ngStyle]="{'background-image': 'url(' + influencer.profile_picture_url + ')'}"></label>
                                <input type="file" id="fileupload" class="fileupload" (change)="updateAndUploadImageToCloud($event,influencer)" accept="image/*;capture=camera">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mt30">
                            <a class="btn button_success" type="submit" (click)="updateUser()" role="button">Update</a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mt20">
                            <a class="btn button_clear" (click)="disableOrEnableInfluencer()" role="button">{{enableOrDisable}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
