.top-heading {
    font-size: 24px;
    line-height: 28px;
    color: #4A4A4A;
    font-weight: normal;
}
.sub-heading{
	font-size: 16px;
	line-height: 19px;
	color: #4A4A4A;
}
i{
    margin-left: 5px;
}