<div [ngSwitch]='influencerStatus'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title pl0 pt40">Influencers</div>
                    <div class="sub_title pl0">List of all Influencers</div>
                    <div class="search pt20">
                        <div class="col-md-6 col-sm-6 col-xs-12 padding_null">
                            <md-input-container>
                                <input md-input md-hint placeholder="Search Influencers ... " type="text" id="search"
                                        #search
                                        (keyup.enter)="onSearch(search.value)"
                                        (click)='search.select()'>
                            </md-input-container>
                        </div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'notFound'">
                            <h3>No Results</h3>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <div class="clearfix pt20">
                                <table class="table">
                                    <thead class="block_heading">
                                        <tr>
                                            <th class="block_title" (click)="sort('ascid')">No.</th>
                                            <th class="block_title col-md-2 col-sm-2 col-xs-4" (click)="sort('ascname')">Name</th>
                                            <th class="block_title col-md-2 col-sm-2 col-xs-4" (click)="sort('ascloc')">Location</th>
                                            <th class="block_title col-md-2 col-sm-2 hidden-xs" >Campaigns Open</th>
                                            <th class="block_title col-sm-2 hidden-xs" >Campaigns Completed</th>
                                            <th class="block_title col-md-3 col-sm-2 hidden-xs" >Followers Count</th>
                                        </tr>
                                    </thead>
                                    <tbody class="block_list">
                                        <tr *ngFor="let inf of influencers;let i = index" routerLink='/influencers/{{inf.id}}'>
                                            <td>{{ ((pageNumber-1)*10)+(i+1) }}</td>
                                            <td class="col-md-2 col-sm-2 col-xs-4"><span *ngIf="!inf.first_name && !inf.last_name">N/A</span>{{inf.first_name}} {{inf.last_name}}</td>
                                            <td class="col-md-2 col-sm-2 col-xs-4"><span *ngIf="!inf.location">N/A</span>{{inf.location}}</td>
                                            <td class="col-md-2 col-sm-2  hidden-xs">{{inf.campaigns_open}}</td>
                                            <td class=" col-sm-2 hidden-xs">{{inf.campaigns_closed}}</td>
                                            <td class="social_sharing col-md-3 col-sm-2 hidden-xs">
                                                {{inf.na}}
                                                <!-- <i [ngClass]="[campaign.facebookVisible, 'ion-social-facebook']"></i> -->
                                                <span *ngIf="inf.fb > 0">
                                    {{inf.fb | exponentialStrength:1}}
                                    <i class="ion-social-facebook"></i>
                                    </span>
                                                <span *ngIf="inf.tw > 0">
                                    {{inf.tw | exponentialStrength:1}}
                                    <!-- <i [ngClass]="[campaign.twitterVisible, 'ion-social-twitter']"></i> -->
                                    <i class="ion-social-twitter"></i>
                                    </span>
                                                <span *ngIf="inf.yt > 0">
                                    {{inf.yt | exponentialStrength:1}}
                                    <!-- <i [ngClass]="[campaign.youtubeVisible, 'ion-social-youtube']"></i> -->
                                    <i class="ion-social-youtube"></i>
                                    </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix pt20">
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages>5">
                                    <li>
                                        <a id="page1" class="" (click)="specificPage(1)">{{1}}</a>
                                    </li>
                                    <li>
                                        <a id="page2" class="" (click)="specificPage(2)" *ngIf="pageNumber<=2">{{2}}</a>
                                    </li>
                                    <li>
                                        <a id="page3" class="" (click)="specificPage(3)" *ngIf="pageNumber===2">{{3}}</a>
                                    </li>
                                    <li>
                                        <a class="ellipsis" *ngIf="pageNumber>3">...</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber-1}}" class="" (click)="specificPage(pageNumber-1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber-1}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber}}" class="" (click)="specificPage(pageNumber)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber+1}}" class="" (click)="specificPage(pageNumber+1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber+1}}</a>
                                    </li>
                                    <li>
                                        <a class="ellipsis" *ngIf="pageNumber<(totalPages-2)">...</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages-2}}" class="" (click)="specificPage(totalPages-2)" *ngIf="pageNumber===(totalPages-1)">{{totalPages-2}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages-1}}" class="" (click)="specificPage(totalPages-1)" *ngIf="pageNumber>=(totalPages-1)">{{totalPages-1}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages}}" class="" (click)="specificPage(totalPages)">{{totalPages}}</a>
                                    </li>
                                    <li class="prev-next">
                                        <button class="nav-prev" (click)="previousPage(pageNumber-1)" [disabled]="pageNumber===1" role="button"><i class="ion-ios-arrow-thin-left"></i> Previous</button>
                                        <button class="nav-next" (click)="nextPage(pageNumber+1)" [disabled]="pageNumber>=totalPages" role="button">Next <i class="ion-ios-arrow-thin-right"></i></button>
                                    </li>
                                </ul>
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages<=5 && totalPages>1">
                                    <li *ngFor="let page of pageNumbers">
                                        <a id="page{{page}}" class="" (click)="specificPage(page)">{{page}}</a>
                                    </li>
                                    <li class="prev-next">
                                        <button class="nav-prev" (click)="previousPage(pageNumber-1)" [disabled]="pageNumber===1" role="button"><i class="ion-ios-arrow-thin-left"></i> Previous</button>
                                        <button class="nav-next" (click)="nextPage(pageNumber+1)" [disabled]="pageNumber>=totalPages" role="button">Next <i class="ion-ios-arrow-thin-right"></i></button>
                                    </li>    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
