<!-- dynamic routes -->
<div class="navbar-default sidebar" role="navigation" *ngIf="sideHide != 1">
    <md-nav-list class="sidebar-nav text-white" id="side-menu">
        <a md-list-item *ngFor="let link of navLinks" routerLink="/{{link.route}}" (click)="sidenav.close()">
            <span md-line>{{link.name}}</span>
        </a>
    </md-nav-list>
</div>
<md-sidenav-layout fullscreen>
    <simple-notifications [options]="options"></simple-notifications>
    <md-sidenav #sidenav class="sidebar-nav padding_null">
        <md-nav-list class="nav text-white" id="side-menu">
            <a md-list-item *ngFor="let link of navLinks"  routerLink="/{{link.route}}" (click)="sidenav.close()">
                <span md-line>{{link.name}}</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary" *ngIf="location.path() !== '/login' && location.path() !== '/forgot' && location.path() !== '/reset' && location.path() !== '' ">
        <span class="text-white"></span>
        <a href="javascript:void(0)" (click)="sidenav.toggle()">
            <i class="ion-navicon"></i>
        </a>
    </md-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-layout>
