<div class="log-form">
    <div class="site-detail">
        <div class="logo">
            <svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                <g id="Login" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="login" transform="translate(-688.000000, -102.000000)" stroke-width="2" stroke="#222829">
                        <g id="01-company-meeting" transform="translate(689.000000, 103.000000)">
                            <g id="_x30_1_x5F_company_x5F_meeting">
                                <g id="Group">
                                    <circle id="Oval" cx="31" cy="5" r="5"></circle>
                                    <circle id="Oval" cx="5" cy="5" r="5"></circle>
                                    <path d="M42,28 L42,20 C42,16.687 39.313,14 36,14 L26,14 C22.686,14 20,16.687 20,20 L20,28" id="Shape"></path>
                                    <rect id="Rectangle-path" x="12" y="31" width="38" height="4"></rect>
                                    <path d="M12,28 L12,21 C12,17.134 8.866,14 5,14 L3,14 C1.344,14 0,15.344 0,17 L0,40 C0,42.762 2.238,45 5,45 L12,45 L19,62 C19,62 18.764,62 21,62 C25,62 25,58 25,58 L25,38" id="Shape"></path>
                                    <circle id="Oval" cx="57" cy="5" r="5"></circle>
                                    <path d="M50,28 L50,21 C50,17.134 53.134,14 57,14 L59,14 C60.656,14 62,15.344 62,17 L62,40 C62,42.762 59.762,45 57,45 L50,45 L43,62 L41,62 C37,62 37,58 37,58 L37,38" id="Shape"></path>
                                    <path d="M31,38 L31,63" id="Shape"></path>
                                    <path d="M30,18 L32,18" id="Shape"></path>
                                    <path d="M30,22 L32,22" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="site-title">Instatise</div>
        </div>
        <h2>Change Password</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="changePassword()">
        <input type="password" title="password"  name="password" required [(ngModel)]="password" placeholder="enter password " />
        <input type="password" title="confirm password"  name="RePassword" required [(ngModel)]="rePassword" placeholder="re-enter password " />
        <button [disabled]="f.invalid" type="submit" class="btn">Change Password</button>
        <!-- <a  class="forgot" href="/login">Sign in to admin panel</a> -->
    </form>
</div>
