<div class="log-form">
    <div class="site-detail">
        <div class="logo arcade_bg">
            <img src="../logo.png" />
        </div>
        <h2>Sign in to Admin Panel </h2>
    </div>
    <form #f="ngForm" (ngSubmit)="login()">
        <input type="email" name="email" [(ngModel)]="user.email" required placeholder="Please enter email address" />
        <input type="password" name="password" [(ngModel)]="user.password" required  placeholder="Please enter password" />
        <button [disabled]="f.invalid || clicker" type="submit" class="btn">Login</button>
        <a class="forgot" href="/forgot">forgot password?</a>
    </form>
</div>
