.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.log-form .site-detail {
    display: block;
    width: 100%;
    position: relative;
    top: -5%;
    left: 50%;
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -o-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
    transform: translate(-50%, -5%);
}

.log-form .site-logo {
    width: 62px;
    height: 63px;
    margin: 0 auto;
}

.log-form .site-title {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #4A4A4A;
    padding: 1em;
    padding-bottom: 0;
    text-transform: uppercase;
}

.log-form form {
    display: block;
    width: 100%;
    padding: 2em;
}

.log-form .site-detail h2 {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 28px;
    display: block;
    width: 100%;
    margin: 0;
    font-weight: 200;
    padding: 1em;
}

.log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 3em;
    padding: .5em 1em;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 1em;
    color: #4A4A4A;
}

.log-form input::-webkit-input-placeholder,
.log-form input::-moz-placeholder,
.log-form input:-ms-input-placeholder,
.log-form input:-moz-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    line-height: 17px;
    color: #BDC3C7;
    font-weight: 300;
}

.log-form .btn {
    display: block;
    width: 100%;
    padding: .5em 2em;
    background-color: #fff;
    margin: 4em .5em 2em 0;
    border: 1px solid #1CC9A8;
    border-radius: 4px;
    height: 56px;
    font-size: 18px;
    line-height: 22px;
    color: #1CC9A8;
}

.log-form .btn:hover {
    background: #1CC9A8;
    color: #fff;
}

.log-form .btn:active {
    background: #1CC9A8;
    color: #fff;
}

.log-form .forgot {
    font-size: 18px;
    line-height: 22px;
    color: #1CC9A8;
    margin-top: 2em
}

.arcade_bg{
    background-image: url('../header-banner.png');
}

/*		Responsiveness		*/

@media (min-width: 600px) and (max-width: 1024px){
	.log-form {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .log-form .site-detail h2 {
        font-size: 20px;
    }
    .log-form .site-title h2 {
        font-size: 17px;
    }
    .log-form input{
        margin-bottom: 1.7em;
        padding: .5em 1em;
    }
    .log-form form{
        padding: 0.5em 2em;
    }
    .log-form .forgot {
        font-size: 15px;
    }
	.log-form {
        width: 95%;
        position: relative;
        margin: 20% auto 0 auto;
        left: 0%;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
