<div [ngSwitch]='campaignsStatus'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title pl0 pt40">Campaigns</div>
                    <div class="sub_title pl0">List of all Campaigns</div>
                    <div class="search pt20">
                        <div class="col-md-6 col-sm-6 col-xs-12 padding_null">
                            <md-input-container>
                                <input md-input md-hint placeholder="Search Campaigns ... " type="text" id="search"
                                        #search
                                        (keyup.enter)="onSearch(search.value)"
                                        (click)='search.select()'>
                            </md-input-container>
                        </div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'notFound'">
                            <h3>No Results</h3>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <div class="clearfix row pt20">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table">
                                    <thead class="block_heading">
                                        <tr>
                                            <th class="block_title col-md-1 col-sm-1 col-xs-1" (click)="sort('ascid')">No.</th>
                                            <th class="block_title col-md-2 col-sm-2 col-xs-2" (click)="sort('ascend')">Deadline</th>
                                            <th class="block_title col-md-3 col-sm-2 col-xs-3" (click)="sort('ascname')">Campaign</th>
                                            <th class="block_title col-md-2 col-sm-2 hidden-xs" (click)="sort('ascbname')">Brand</th>
                                            <th class="block_title hidden-xs">Budget</th>
                                            <th class="block_title hidden-xs">Bids</th>
                                            <th class="block_title hidden-xs col-md-4 col-sm-5">Channels</th>
                                        </tr>
                                    </thead>
                                    <tbody class="block_list">
                                        <tr *ngFor="let campaign of campaignsListModified; let i = index;" routerLink='/campaigns/{{campaign.id}}'>
                                            <!-- <td class="col-md-1 col-sm-1">{{ ((pageNumber-1)*10)+(i+1) }}</td> -->
                                            <td class="col-md-1 col-sm-1 col-xs-1">{{campaign.id}}</td>
                                            <td class="text-danger col-md-2 col-sm-2 col-xs-2">{{campaign.end_date}}</td>
                                            <td class="col-md-3 col-sm-2 col-xs-3">{{campaign.name}}
                                                <div class="list_item_sub">{{campaign.category_name}}</div>
                                            </td>
                                            <td class="col-md-2 col-sm-2 col-xs-2 hidden-xs">{{campaign.brand_name}}</td>
                                            <td class="text-bold col-md-1 col-sm-1 hidden-xs">$ {{campaign.budget}}</td>
                                            <td class="col-md-1 col-sm-1 hidden-xs">{{campaign.bids_count}}</td>
                                            <td class="social_sharing col-md-4 col-sm-5 hidden-xs">
                                                <!-- <i [ngClass]="[campaign.facebookVisible, 'ion-social-facebook']"></i> -->
                                                <!-- <i [ngClass]="[campaign.twitterVisible, 'ion-social-twitter']"></i> -->
                                                <!-- <i [ngClass]="[campaign.youtubeVisible, 'ion-social-youtube']"></i> -->
                                                <!-- <i [ngClass]="[campaign.instagramVisible, 'ion-social-instagram']"></i> -->
                                                <i *ngFor="let channel of campaign.channels" class="ion-social-{{channel.type}}"></i>
                                                <!-- <i class="ion-social-facebook"></i>
                                                <i class="ion-social-twitter"></i>
                                                <i class="ion-social-instagram"></i>
                                                <i class="ion-social-youtube"></i> -->
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <div class="clearfix pt20">
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages>5">
                                    <li>
                                        <a id="page1" class="" (click)="specificPage(1)">{{1}}</a>
                                    </li>
                                    <li>
                                        <a id="page2" class="" (click)="specificPage(2)" *ngIf="pageNumber<=2">{{2}}</a>
                                    </li>
                                    <li>
                                        <a id="page3" class="" (click)="specificPage(3)" *ngIf="pageNumber===2">{{3}}</a>
                                    </li>
                                    <li>
                                        <a class="ellipsis" *ngIf="pageNumber>3">...</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber-1}}" class="" (click)="specificPage(pageNumber-1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber-1}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber}}" class="" (click)="specificPage(pageNumber)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{pageNumber+1}}" class="" (click)="specificPage(pageNumber+1)" *ngIf="pageNumber>2 && pageNumber<(totalPages-1)">{{pageNumber+1}}</a>
                                    </li>
                                    <li>
                                        <a class="ellipsis" *ngIf="pageNumber<(totalPages-2)">...</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages-2}}" class="" (click)="specificPage(totalPages-2)" *ngIf="pageNumber===(totalPages-1)">{{totalPages-2}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages-1}}" class="" (click)="specificPage(totalPages-1)" *ngIf="pageNumber>=(totalPages-1)">{{totalPages-1}}</a>
                                    </li>
                                    <li>
                                        <a id="page{{totalPages}}" class="" (click)="specificPage(totalPages)">{{totalPages}}</a>
                                    </li>
                                    <li class="prev-next">
                                        <button class="nav-prev" (click)="previousPage(pageNumber-1)" [disabled]="pageNumber===1" role="button"><i class="ion-ios-arrow-thin-left"></i> Previous</button>
                                        <button class="nav-next" (click)="nextPage(pageNumber+1)" [disabled]="pageNumber>=totalPages" role="button">Next <i class="ion-ios-arrow-thin-right"></i></button>
                                    </li>
                                </ul>
                                <ul class="col-md-12 col-sm-12 col-xs-12 pagination" *ngIf="totalPages<=5 && totalPages>1">
                                    <li *ngFor="let page of pageNumbers">
                                        <a id="page{{page}}" class="" (click)="specificPage(page)">{{page}}</a>
                                    </li>
                                    <li class="prev-next">
                                        <button class="nav-prev" (click)="previousPage(pageNumber-1)" [disabled]="pageNumber===1" role="button"><i class="ion-ios-arrow-thin-left"></i> Previous</button>
                                        <button class="nav-next" (click)="nextPage(pageNumber+1)" [disabled]="pageNumber>=totalPages" role="button">Next <i class="ion-ios-arrow-thin-right"></i></button>
                                    </li>    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
