@import "../users/user-form.component.css";

.accepted-proposal div,
.accepted-proposal div i {
    color: #F5A623;
}

div.bottom_dotted::after {
    width: 100%;
    padding-top: 12px;
}

textarea {
    padding: 5px;
}

.input_date {
    width: 9em;
}

.btn_update {
    background-color: white;
    color: #1CC9A8;
}

.btn_update:hover {
    background-color: #1CC9A8;
    color: white;
}

.btn_disable {
    background-color: white;
    color: #9B9B9B;
}

.btn_disable:hover {
    background-color: #9B9B9B;
    color: white;
}

.no_bids {
    font-size: 20px;
    margin-top: 10px;
}

@media (max-width: 769px) {
    .input_date {
        width: 7.6em;
    }
}
