<div [ngSwitch]='campaignStatus'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix mob_pad">
                        <a class="button_back mt20 col-md-12 col-sm-12 col-xs-1 pl0" routerLink="/campaigns"><i class="ion-android-arrow-back"></i></a>
                        <div class="title pt20 col-md-12 col-sm-12 col-xs-11 pl0 mob_pl10">{{campaign.name}}</div>
                        <div class="sub_title">{{campaign.category_name}}</div>
                    </div>
                    <div [ngSwitch]="pageStatus">
                        <div *ngSwitchCase="'loading'">
                            <div class="loader">Loading...</div>
                        </div>
                        <div *ngSwitchCase="'active'">
                            <form (ngSubmit)='updateCampaign(campaign)' #updateCampaignForm='ngForm' novalidate>
                                <div class="clearfix mt20 col-md-7 col-sm-8 col-xs-12 padding_null">
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Campaign Info.</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt30 pl0 pr0 mob_pad">
                                        <md-input-container>
                                            <input md-input md-hint name="campaignname" class="" placeholder="Campaign Name" type="text" [(ngModel)]="campaign.name" #campaignname="ngModel" required>
                                            <span class="feedback_msg atop"
                                                  [style.visibility]="(campaignname.touched && campaignname.invalid && campaignname.value == null) ||
                                                                      (campaignname.touched && campaignname.pristine && campaignname.value == null) ||
                                                                      (campaignname.dirty && campaignname.value === '') ? 'visible' : 'hidden'">
                                                campaign name is required !
                                            </span>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 pl0 pr0 mob_pad">
                                        <label for="join_date" class="personal_block_label">Brand</label>
                                        <div id="join_date" class="personal_block_desc">{{campaign.brand_name}}</div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 pl0 pr0 mob_pad">
                                        <label for="category" class="personal_block_label">Category</label>
                                        <div id="category" class="personal_block_desc">
                                            <select id="category" name="category" [(ngModel)]="campaign.category_id" #category="ngModel" required>
                                                <option disabled selected value> -- select a category -- </option>
                                                <option *ngFor="let category of categories" [value]="category.id">
                                                    {{category.name}}
                                                </option>
                                            </select>
                                            <span class="feedback_msg"
                                                  [style.visibility]="(category.invalid && category.value == null) ? 'visible' : 'hidden'">
                                                category is required !
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                        <label for="total_campaigns" class="personal_block_label">Start Date</label>
                                        <div id="start_date" class="personal_block_desc">{{campaign.created | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 mt30 pl0 pr0 mob_pad">
                                        <md-input-container>
                                            <input id="end_date" class="input_date" md-input md-hint placeholder="End Date" type="date" [value]="campaign.end_date | date:'yyyy-MM-dd'" [(ngModel)]="campaign.end_date" [ngModelOptions]="{standalone: true}" required>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt30 pl0 pr0 mob_pad">
                                        <md-input-container>
                                            <textarea md-input md-hint placeholder="Campaign Details" [(ngModel)]="campaign.description" [ngModelOptions]="{standalone: true}" required rows="2" cols="50"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title mt30">Channels &amp; Budget</div>
                                    <div class="clearfix mob_pad" *ngFor="let channel of campaign.channels">
                                        <div class="col-md-6 col-sm-6 col-xs-6 mt30">
                                            <label for="total_campaigns" class="personal_block_label">Channel</label>
                                            <div id="total_campaigns" class="personal_block_desc"><i class="ion-social-{{channel.type}}"></i> {{channel.type | capitalize}}</div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 mt30">
                                            <label for="open_campaigns" class="personal_block_label">Budget</label>
                                            <div id="open_campaigns" class="personal_block_desc">$ {{channel.min_amount}} - $ {{channel.max_amount}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title mt30">Bid Information</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 no_bids" [hidden]="proposalsExist">
                                        No bids for this campaign
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mt20 pl10" [hidden]="!proposalsExist" *ngFor="let proposal of proposals; let i = index">
                                        <div class="clearfix" [hidden]="i>0">
                                            <div class="col-md-2 col-sm-3 col-xs-3 pl10">
                                                <label class="personal_block_label">Date</label>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 pl10">
                                                <label class="personal_block_label">Bidder</label>
                                            </div>
                                            <div class="col-md-1 col-sm-2 col-xs-2 pl10" *ngFor="let channel of proposal.channels">
                                                <label class="personal_block_label"><i class="ion-social-{{channel.type}}"></i></label>
                                            </div>
                                        </div>
                                        <div class="clearfix bottom_dotted {{proposal.status}}-proposal">
                                            <div class="col-md-2 col-sm-3 col-xs-3 mt20 pl10">
                                                <div class="personal_block_desc1">{{proposal.dates.created | date: 'dd/MM/yyyy'}}</div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 mt20 pl10">
                                                <div class="personal_block_desc1">{{proposal.influencer_details.first_name}} {{proposal.influencer_details.last_name}}</div>
                                            </div>
                                            <div class="col-md-1 col-sm-2 col-xs-2 mt20 pl10" *ngFor="let channel of proposal.channels">
                                                <div class="personal_block_desc1">{{channel.amount}}</div>
                                            </div>
                                            <div class="col-md-1 col-sm-2 col-xs-2 pl10 mt20 text-right">
                                                <label class="personal_block_label" [hidden]="proposal.status !== 'accepted'"><i class="ion-trophy"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mt20 col-md-offset-1 col-sm-offset-1 col-md-4 col-sm-3 col-xs-12 padding_null">
                                    <div class="col-md-12 col-sm-12 col-xs-12 personal_block_title">Campaign Image</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 pl10 pt30">
                                        <label for="fileupload" class="input_file" [ngStyle]="{'background-image': 'url(' + campaign.campaign_image + ')'}"></label>
                                        <input type="file" id="fileupload" class="fileupload" (change)="updateAndUploadImageToCloud($event,campaign)" accept="image/*;capture=camera">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt50">
                                    <button class="btn button_success btn_update" [disabled]="bidAccepted || !updateCampaignForm.form.valid" role="button" type="submit">Update</button>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt20">
                                    <button class="btn button_clear btn_disable" (click)="disableOrEnableCampaign(campaign)" [disabled]="bidAccepted || !updateCampaignForm.form.valid" role="button">{{enableOrDisable}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'error'">
        <h1>ERROR</h1>
    </div>
</div>
