@media (max-width: 768px) {
    .row {
        margin-right: -14px;
        margin-left: -14px;
    }
    .table>tbody>tr>td:first-child,
    .table>thead>tr>th:first-child {
        width: 10%!important;
    }
}
@media (max-width: 568px) {
    .row {
        margin-right: -14px;
        margin-left: -14px;
    }
    .table>tbody>tr>td,
    .table>thead>tr>th{
        font-size: 12px;
    }
}