<div [ngSwitch]='dashboardStatus'>
    <div *ngSwitchCase="'loading'">
        <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="'active'">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-7">
                    <div class="title mob_pt30 pt40">Campaigns</div>
                    <div class="block pt20 clearfix bottom_dotted">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="block_title">Total</div>
                            <div class="block_content">{{totalCampaigns}}</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="block_title">Open</div>
                            <div class="block_content">{{openCampaigns}}</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="block_title">This Month</div>
                            <div [ngClass]="['block_content', campaignText]">{{thisMonthCampaigns}} <span><i [ngClass]="campaignArrow"></i></span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="block_title">Last Month</div>
                            <div class="block_content">{{lastMonthCampaigns}}</div>
                        </div>
                    </div>
                    <div class="title pt40">Top 5 Performers</div>
                    <div class="block pt20 clearfix bottom_dotted">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="block_title">Brands</div>
                            <ul class="block_list padding_null pt10">
                                <li *ngFor="let brand of topFiveBrands">
                                    {{brand.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="block_title">Influencers</div>
                            <ul class="block_list padding_null pt10">
                                <li *ngFor="let influencer of influencerNames">
                                    {{ influencer }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="block_title">Categories</div>
                            <ul class="block_list padding_null pt10">
                                <li *ngFor="let category of topFiveCategories">
                                    {{category.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="title mob_pt30 pt40">Brands</div>
                    <div class="block pt20 clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="block_title">Total</div>
                            <div class="block_content">{{totalBrands}}</div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="block_title">This Month</div>
                            <div [ngClass]="['block_content', brandText]">{{thisMonthBrands}} <span><i [ngClass]="brandArrow"></i></span></div>
                        </div>
                    </div>
                    <div class="title pt40">Influencers</div>
                    <div class="block pt20 clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="block_title">Total</div>
                            <div class="block_content">{{totalInfluencers}}</div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="block_title">This Month</div>
                            <div [ngClass]="['block_content', influencerText]">{{thisMonthInfluencers}} <span><i [ngClass]="influencerArrow"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                <div class="table_title pt40 pl10">Latest Campaigns</div>
                <div class="clearfix pt20">
                    <table class="table">
                        <thead class="block_heading">
                            <tr>
                                <th class="block_title col-md-1 col-sm-1 col-xs-1">No.</th>
                                <th class="block_title col-md-2 col-sm-2 col-xs-2">Deadline</th>
                                <th class="block_title col-md-3 col-sm-2 col-xs-3">Campaign</th>
                                <th class="block_title col-md-2 col-sm-2 hidden-xs">Brand</th>
                                <th class="block_title hidden-xs">Budget</th>
                                <th class="block_title hidden-xs">Bids</th>
                                <th class="block_title hidden-xs col-md-4 col-sm-5">Channels</th>
                            </tr>
                        </thead>
                        <tbody class="block_list">
                            <tr *ngFor="let campaign of latestCampaignsModified; let i = index;" routerLink='/campaigns/{{campaign.id}}'>
                                <td class="col-md-1 col-sm-1 col-xs-1">{{campaign.id}}</td>
                                <td class="text-danger col-md-2 col-sm-2 col-xs-2">{{campaign.end_date}}</td>
                                <td class="col-md-3 col-sm-2 col-xs-3">{{campaign.name}}
                                    <div class="list_item_sub">{{campaign.category_name}}</div>
                                </td>
                                <td class="col-md-2 col-sm-2 col-xs-2 hidden-xs">{{campaign.brand_name}}</td>
                                <td class="text-bold col-md-1 col-sm-1 hidden-xs">$ {{campaign.amount}}</td>
                                <td class="col-md-1 col-sm-1 hidden-xs">{{campaign.bids_count}}</td>
                                <td class="social_sharing col-md-4 col-sm-5 hidden-xs">
                                    <i [ngClass]="[campaign.facebookVisible, 'ion-social-facebook']"></i>
                                    <!-- <i class="ion-social-facebook"></i> -->
                                    <i [ngClass]="[campaign.twitterVisible, 'ion-social-twitter']"></i>
                                    <!-- <i class="ion-social-twitter"></i> -->
                                    <i [ngClass]="[campaign.youtubeVisible, 'ion-social-youtube']"></i>
                                    <!-- <i class="ion-social-youtube"></i> -->
                                    <i [ngClass]="[campaign.instagramVisible, 'ion-social-instagram']"></i>
                                    <!-- <i class="ion-social-youtube"></i> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'error'">
            <h1>Unable to fetch data at this moment.</h1>
        </div>
    </div>
</div>
